.container {
  position: relative;
  padding: 20px;
  overflow-y: auto;
  font-size: 13px;
}
  
.container::-webkit-scrollbar {
  display: none;
}
  

.row {
  margin: 0 0 15px 0;
  max-height: 200px;
}

.key {
  color: #787878;
  text-transform: capitalize;
  display: block;
}

.value {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.5;
  overflow: hidden;
  padding: 1px;
  font-weight: bold;
}
