.container {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.basemapSliderContainer {
  position: absolute;
  bottom: 14px;
  left: 14px;
  width: 75px;
  height: 75px;
  border-radius: 3px;
  border: 3px solid white;
  box-shadow: 1px 2px 5px #757575;
  transition: .2s;
  z-index: 5;
  cursor: pointer;
}

.basemapOption {
  cursor: pointer;
  width: 100%;
  height: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  position: relative;
  border-radius: 3px;
}

.basemapThumbnail {
  width: 100%;
  height: 100%;
  background: white;
  background-size: cover;
  filter: blur(0.5px);
}

.label {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  font-family: Roboto, Arial, sans-serif;
}
