.card {
  max-height: 645px;
  width: 400px;
  top: 80px;
  transition: all .3s;
  opacity: 0.9;
}

.tabs {
  background: #ededed;
  transition: all .3s;
  border-bottom: 1px solid lightgrey;
}

.tab {
  color: '#152357'
}

.tab:hover {
  color: '#152357'
}

.initialTab {
  top: 80px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  position: absolute;
  right: 15px;
  opacity: 1;
}

.initialTab:hover {
  color: '#152357'
}

.cardContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 0px 16px;
  background: #ededed;
  overflow: scroll;
}
