.container {
  padding: 0 1em 1em 1em;
}

.mapDisplayContainer {
  width: 240px;
  height: 150px;
  float: left;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.controlStylesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 150px;
}
  
.mapControlButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  height: 50px;
  width: 50px;
  border: 0px;
  background: transparent;
  color: rgb(0, 0, 0);
  font-size: 25px;
}
  

.mapControlButton:disabled {
  color: #dedede;
  cursor: not-allowed;
}
